# macOS
.DS_Store

# Environment variables
.env 

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/

# Builds 
dist/
build/

# Logs 
*.log

# IDEs 
.vscode/
.idea/

# Docker
postgres_data

# virtual env
venv/
__pycache__/ 
*.pyc
